In [1]:
import pandas as pd
url = "students_adaptability_level.csv"
df = pd.read_csv(url)
df.head()

,ID,Gender,Age,Education Level,Institution Type,IT Student,Location,Load-shedding,Financial Condition,Internet Type,Network Type,Class Duration,Self Lms,Device,Adaptivity Level
0,1,Boy,21-25,University,Non Government,No,Yes,Low,Mid,Wifi,4G,3-6,No,Tab,Moderate
1,2,Girl,21-25,University,Non Government,No,Yes,High,Mid,Mobile Data,4G,1-3,Yes,Mobile,Moderate
2,3,Girl,16-20,College,Government,No,Yes,Low,Mid,Wifi,4G,1-3,No,Mobile,Moderate
3,4,Girl,11-15,School,Non Government,No,Yes,Low,Mid,Mobile Data,4G,1-3,No,Mobile,Moderate
4,5,Girl,16-20,School,Non Government,No,Yes,Low,Poor,Mobile Data,3G,0,No,Mobile,Low

In [2]:
df['Gender'].value_counts()

Gender
Boy     663
Girl    542
Name: count, dtype: int64

In [8]:
df['Adaptivity Level'].value_counts()

Adaptivity Level
Moderate    625
Low         480
High        100
Name: count, dtype: int64

In [15]:
high = 100
moderate = 625
low = 480

In [25]:
#number of boys and girls are not that sparse in our opinion
#check if there is a gender imablance in the number of people that can easily adapt
# Initialize counter
mh = 0

# Loop through the DataFrame
for index, row in df.iterrows():
    if row['Gender'] == 'Boy' and row['Adaptivity Level'] == 'High':
        mh += 1

print("Number of males that can adapt:", mh)
mh_per = (mh/high)*100
print(str (mh_per)+ "% of people that easily adapt are males")

Number of males that can adapt: 71
71.0% of people that easily adapt are males

In [17]:
# Check if IT students can adapt better
# Initialize counter
it_studh = 0

# Loop through the DataFrame
for index, row in df.iterrows():
    if row['IT Student'] == 'Yes' and row['Adaptivity Level'] == 'High':
        it_studh += 1

print("Number of IT students with high adaptability:", it_studh)

it_studh_per = (it_studh/high)*100
print(str (it_studh_per)+ "% of people that easily adapt are IT students")

Number of IT students with high adaptability: 33
33.0% of people that easily adapt are IT students

In [18]:
#surprisignly IT students cannot easily adapt, we expected them to constitute almost or more than 50% of the people in the high category.

In [23]:
df['Self Lms'].value_counts()

Self Lms
No     995
Yes    210
Name: count, dtype: int64

In [24]:
#Do people who have self learning platforms adapt better to online education?
# Check if lms students can adapt better
# Initialize counter
lms = 0

# Loop through the DataFrame
for index, row in df.iterrows():
    if row['Self Lms'] == 'Yes' and row['Adaptivity Level'] == 'High':
        lms += 1

print("Number of self lms students with high adaptability:", lms)

lms_per = (lms/high)*100
print(str (lms_per)+ "% of people that easily have Self LMS experience")

Number of self lms students with high adaptability: 30
30.0% of people that easily have Self LMS experience

In [ ]:
# surprisingly people who have experience with self learning management systems are not able to easily adapt,
# we expected much higher percentages
# online school for us was largely dependent on the ability to self discipline and self- lear,.